<p> <em><%= @task.details %></em> </p>
Completed?  <%=  link_to(
       check_box_tag(:task,:completed,@task.completed),
       "/tasks/#{@task.id}/complete/#{!@task.completed}" ) %>
<p>   <%= link_to 'Edit Task', edit_task_path(@task) %> </p>
  <%= link_to 'Delete',task_path(@task), method: :delete %>